<div class="m-1 border border-primary">
<mat-form-field>
    <input matInput placeholder="Enter product" #productSearch (keydown.enter)="search(productSearch.value)">
    <mat-icon matSuffix (click)="search(productSearch.value)">search</mat-icon>
</mat-form-field>

<div *ngIf="products">
<mat-card *ngFor="let product of products" class="m-1 border border-success">
    <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h3>Price: {{product.unitPrice}}</h3>
        <p>{{product.manufacturer}}</p>
        <p *ngIf="product.additionalInfo">{{product.additionalInfo}}</p>
    </mat-card-content>
</mat-card>
</div>
</div>

